@import "tailwindcss";

@font-face {
    font-family: "Ignota";
    src: url("../public/MusicaIgnota.ttf");
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}*/

textarea {
  outline: 1px solid grey;
}

.ignota {
  font-family: "Ignota" !important;
  font-size: xx-large !important;
}